{% extends 'base.html.twig' %}

{% block title %}Guest index{% endblock %}

{% block body %}
    <h1>Guest index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>IsVegan</th>
                <th>IsVegetarian</th>
                <th>IsAvoidGluten</th>
                <th>IsAvoidPork</th>
                <th>IsAvoidFish</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for guest in guests %}
            <tr>
                <td>{{ guest.id }}</td>
                <td>{{ guest.name }}</td>
                <td>{{ guest.isVegan ? 'Yes' : 'No' }}</td>
                <td>{{ guest.isVegetarian ? 'Yes' : 'No' }}</td>
                <td>{{ guest.isAvoidGluten ? 'Yes' : 'No' }}</td>
                <td>{{ guest.isAvoidPork ? 'Yes' : 'No' }}</td>
                <td>{{ guest.isAvoidFish ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('guest_show', {'id': guest.id}) }}">show</a>
                    <a href="{{ path('guest_edit', {'id': guest.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('guest_new') }}">Create new</a>
{% endblock %}
